/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Meyers End */

body {
    display: flex;
    flex-direction: column;
    color: #112a46;
    overflow: scroll;
    background: #acc8e5;
}
header {
    background: #9ab7d4;
    height: 10vh;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    justify-content: space-between;
}

main {
    height: max-content;
    color: #112a46;
    flex-grow: 1;
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'videophreak';
    src: url('./videophreak/VIDEOPHREAK.ttf');
}

header > p {
    font-family: 'videophreak';
}

header > img {
    --sizing: 1.7em;
    height: var(--sizing);
    width: var(--sizing);
}

.cont {
    position: relative;
    margin-top: 100px;
    width: 100vw;
    bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    row-gap: 40px;
}

.gameboard1,
.gameboard2,
.secbox {
    min-width: 250px;
    min-height: 250px;
    height: 40vh;
    width: 40vh;
    max-height: 400px;
    max-width: 400px;
    background: #9ab7d4;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.secbox {
    border: 2px solid black;
}
.gameboard1 > div,
.gameboard2 > div {
    flex-grow: 1;
    display: flex;
}

.gameboard1 > div > div,
.gameboard2 > div > div {
    border: 1px solid black;
    flex-grow: 1;
}

.secbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 4vw;
    align-items: center;
}

.secbox > button {
    font-size: 0.8em;
    width: 60%;
    background: #acc8e5;
    border: 2px solid black;
    border-radius: 100px;
}

.secbox > div {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    gap: 8px;
}

.secbox > div > p:first-of-type {
    font-size: 1.1em;
}

.secbox > div > p {
    text-align: center;
}

.secbox > button:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.gameboard1,
.gameboard2,
button {
    cursor: pointer;
}

.cont p {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 8px;
}

.cont > div:first-of-type {
    margin-top: 100px;
}
.gameboard2 {
    visibility: hidden;
    position: absolute;
}

.cont > div:last-of-type {
    position: absolute;
    background: green;
    height: 100px;
    width: clamp(200px, 40vw, 500px);
    bottom: 50vh;
}
